@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Sriracha&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    width: 100%vw;
    height: 90vh;
    background-color:   rgb(16, 2, 40);
    margin-top: 10px;
    font-family: 'Palanquin Dark', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#imagem{
    background-image: url(../img/forca.png);
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}

#palavra-secreta {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 4px;
}

.letras {
    width: 16px;
    text-align: center;
    border-bottom: 2px solid rgb(252, 249, 249);
    color: white;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

#teclado {
    margin-top: 10px;
}

.teclas button {
    width: 24px;
    height: 24px;
    margin-top: 1px;
    margin-bottom: 2px;
    cursor: pointer;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.102);
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
}

#btreiniciar {
    width: 250px;
}

#tecla-Z {
    width: 50px;
}

.teclas button:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.144);
    color: white;
}

#categoria {
    margin-top: 15px;
    color: white;   
    font-size: 12px;
    margin-bottom: 5px;
    background-color: blue;
    width: 50%;
    text-align: center;

}

@media (min-width: 320px) {
    .teclas button {
        width: 24px;
        height: 24px;    
    }

}

@media (min-width: 376px) {
    .teclas button {
        width: 30px;
        height: 30px;    
    }
    
    #btreiniciar {
        width: 300px;
    }

    #tecla-Z {
        width: 65px;
    }   
}

@media (min-width: 426px) {
    .teclas button {
        width: 36px;
        height: 36px;    
    }
    
    #btreiniciar {
        width: 350px;
    }

    #tecla-Z {
        width: 65px;
    }   
}